/* Resetear estilos predeterminados de la lista de navegación */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

h2 {
    color: #007bff;
}

#DIV1 {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#DIV1 img {
    width: 200px;
    border: 5px solid #007bff;
    display: inline-block;
    border-radius: 50%; /* Dar un borde redondeado a la imagen */
}

hr {
    border-width: 5px;
    border-color: #007bff;
}

#DIV2 {
    background-color: #f8f8f8;
    padding: 20px;
}

#DIV3 {
    background-color: #fff;
    padding: 20px;
}

/* Estilo para los ítems de la lista ordenada */
ol li {
    margin-bottom: 10px;
}

#navigation {
    text-align: center;
    margin: 20px 0;
}

#navigation ul {
    list-style: none;
}

#navigation li {
    display: inline-block;
    margin: 0 10px;
}

#navigation a {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#navigation a:hover {
    background-color: #0056b3;
}

    
    
    